.cont {
    height: 90.3vh;
}

.cont .cc {
    display: flex;
    justify-content: center;
}

.cont .heading {
    padding: 10px;
    width: 40%;
    height: 10vh;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.214);
    background-color: rgba(255, 255, 255, 0.082);
    backdrop-filter: blur(16px);
    border-radius: 10px;
}

.cont .heading h2 {
    color: rgb(172, 26, 0);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.container{
    height: 55vh;
    width: auto;
    display: flex;
    margin-top: 70px;
}
.container .img{
    width: 30%;
    height: 40vh;
    position: relative;
    left: 16%;
    top: -11%;
}
.container .img .box-img{
    height: 350px;
    width: 350px;
    background-color: rgba(227, 227, 227, 0.327);
    backdrop-filter: blur(16px);
    border-radius: 20px;
    overflow: hidden;
}
.box-img img{
    transition: 1s;
    filter: drop-shadow(0 0 10px rgb(0, 0, 0));
}

.box-img:hover img{
    scale: 1.2;
}
.container .pera{
    color: rgb(75, 0, 94);
    width: 50%;
    font-size: 23px;
    text-align: justify;
    position: relative;
    top: 7%;
    left: 10%;
}
.container .pera span{
    position: relative;
    top: 30px;
    left: 190px;
}